<div class="three-input three-input-boolean form-field">
    <label class="form-field-label" *ngIf="label" [for]="id">{{ label }}</label>
    <div class="form-field-input">
        <input class="input-value" [id]="id" type="checkbox" [checked]="value" (input)="triggerRealtimeChange($event)"
            (change)="triggerChange($event)" />
    </div>

    <span class="form-field-value">{{getInputValue()}}</span>

    <button class="form-field-reset" (click)="resetValue()">
        <span>
            ↺
        </span>
    </button>
</div>